html, body, ul, li {
    margin: 0;
    padding: 0;
    display: block;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(17, 16, 16);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 20vw;

    .spawn {
        position: absolute;
        width: 6rem;
        &.red{
            margin-bottom: 20rem;
        }
        &.blue{
            margin-bottom: 40rem;
        }
    }
}

.potion-container {
    &.template{
        display: none;
    }
    position: relative;
    margin: 4rem;
    --main-bg-color: #6E6362;
    --main-circle-size: 10rem;
    width: var(--main-circle-size);
    height: var(--main-circle-size);
    .background {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--main-bg-color);
        transform-origin: bottom;
        animation: rock 3s linear infinite;
    }

    @keyframes rock {
        0% {
            filter: hue-rotate(0deg);
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(15deg);
        }
        50% {
            filter: hue-rotate(50deg);
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(-15deg);
        }
        100% {
            transform: rotate(0deg);
            filter: hue-rotate(0deg);
        }
    }

    --circle-ring-size: calc(var(--main-circle-size)/16);
    --circle-ring-colour: #827473;
    --ring-shadow-colour: #564E4D;
    .background::before {
        content: "";
        position: absolute;
        top: -2%;
        left: 50%;
        transform: translateX(-50%);

        width: 40%;
        height: 10%;
        border-radius: 50%;
        border: var(--circle-ring-size) solid var(--circle-ring-colour);
        box-shadow: 0 calc(var(--circle-ring-size)/2) var(--ring-shadow-colour);
    }

    .background::after{
        content: "";
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 50%;
        height: 30%;
        border-radius: 50%;
        background-color: white;
        opacity: 10%;
    }

    .liquid {
        &#blue{
            --liquid-colour: #0DCCD3;
            --liquid-surface-colour: #56EEF4;
        }
        &#red{
            --liquid-colour: #DF2935;
            --liquid-surface-colour: #E44E58;
        }
        position: absolute;
        top: 50%;
        left: 2%;
        bottom: 2%;
        right: 2%;

        border-radius: 0 0 calc(var(--main-circle-size)/2) calc(var(--main-circle-size)/2);
        background-color: var(--liquid-colour);
        filter: drop-shadow(0 0 calc(var(--main-circle-size)/10) var(--liquid-colour));
        transform-origin: top;
        animation: liquid 3s linear infinite;
        
    }

    @keyframes liquid {
        0% {
            
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(0deg);
            
        }
    }

    .liquid::after {
        content: "";
        position: absolute;
        transform: translateY(-49%);
        width: 100%;
        height: 40%;
        border-radius: 50%;
        background-color: var(--liquid-surface-colour);
    }

    .shadow {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 10%;
        border-radius: 50%;
        background-color: #211E1C;
    }
}